<div class="offcanvas offcanvas-end" id="cartOffcanvas" tabindex="-1" aria-labelledby="cartOffcanvasLabel">
   <div class="offcanvas-header cart-header">
      <h4 class="offcanvas-title" id="cartOffcanvasLabel">Cart</h4>
      <button type="button" class="btn-close" (click)="hideCartOffcanvas()" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body" *ngIf="cart">
      <div *ngIf="cart.cartProducts.length > 0">
         <ul class="cart-items-list">
            <li *ngFor="let cartItem of cart.cartProducts">
               {{cartItem.quantity}}
               {{cartItem.product!.name}}
            </li>
         </ul>
         <div class="cart-total">
            <span>Total: R{{cartValue}}</span>
         </div>
         <button class="btn btn-large btn-success order-button" (click)="onCheckoutCartClicked()">Checkout cart</button>
      </div>
      <div *ngIf="cart.cartProducts.length == 0">
         Cart is empty!
      </div>
   </div>
</div>