<div class="container data-div">
   <div *ngIf="isUserLoggedIn()">
      <div *ngIf="!loading">
         <div *ngIf="simplifiedOrders.length > 0">
            <div class="m-3 mb-4">
               <h1 class="order-page-title">Your Orders</h1>
            </div>
            <div class="customer-order row" *ngFor="let order of simplifiedOrders">
               <div class="col-2 no-gutters headings-box">
                  <div class="headings-box-order-id-tag">Status:</div>
                  <div class="headings-box-products-tag">Products:</div>
               </div>
               <div class="col-10 no-gutters order-info-box">
                  <div class="row order-details">
                     <div class="col-6 order-status">
                        <span class="order-status-content" [ngClass]="{'cancelled': order.status==0, 'in-transit': order.status==1, 'payed': order.status==2,'delivered': order.status==3}">{{orderStatusNames[order.status]}}</span>
                     </div>
                     <div class="col-6 order-value-field">
                        <span class="order-value-content">Total: R{{order.value}}</span>
                     </div>
                  </div>
                  <div class="row no-gutter order-items">
                     <div class="col-8">
                        <div class="order-product-item-content info" *ngFor="let orderProduct of order.orderProducts">
                           {{orderProduct.productName | titlecase}}
                        </div>
                     </div>
                     <div class="col-4 view-more-order-details-box">
                        <a class="view-more-order-details-field clickable" type="button" (click)="onViewMoreDetailsClicked(order)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasOrderDetail" aria-label="Close">View more details ⤑</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="simplifiedOrders.length == 0">
            You have no orders for the moment!
         </div>
      </div>
      <div class="loader" *ngIf="loading"></div>
   </div>
   <div *ngIf="!isUserLoggedIn()">
      <div class="m-3 mb-4">
         <h1 class="order-page-title">Your Orders</h1>
      </div>
      <div class="ms-2 mb-3">
         You are not logged in!
      </div>
      <button class="btn btn-success ms-1 mb-2" (click)="onLogInClicked()">Log in</button>
   </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasOrderDetail" aria-labelledby="offcanvasOrderDetailLabel">
   <div class="offcanvas-header order-detail-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Order Details</h5>
      <button class="btn-close" data-bs-dismiss="offcanvas"></button>
   </div>
   <div class="offcanvas-body order-detail-body" *ngIf="orderToDetail">
      <div>
         <table class="table table-primary table-responsive table-striped">
            <thead>
               <tr class="order-detail-product-table-row">
                  <td>Product</td>
                  <td class="product-quantity">Quantity</td>
                  <td class="product-individual-price">Indiv. Price</td>
                  <td class="product-total">Total Price</td>
               </tr>
            </thead>
            <tbody>
               <tr class="order-detail-product-table-row" *ngFor="let orderProduct of orderToDetail.orderProducts">
                  <td>{{orderProduct.product!.name | titlecase}}</td>
                  <td class="product-quantity">{{orderProduct.quantity}}</td>
                  <td class="product-individual-price">R{{orderProduct.product!.price}}</td>
                  <td class="product-total">R{{orderProduct.quantity * orderProduct.product!.price}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="order-detail-total-section">
         <span class="order-detail-total-contents">
            Total: {{total}}
         </span>
      </div>
      <div class="order-detail-status-section">
         <div>
            Status: 
            <span class="order-detail-status-field" [ngClass]="{'cancelled': orderToDetail.status==0, 'in-transit': orderToDetail.status==1, 'payed': orderToDetail.status==2,'delivered': orderToDetail.status==3}">
               {{orderStatusNames[orderToDetail.status]}}
            </span>
         </div>
         <div *ngIf="orderToDetail.timePayed!=null" class="order-status-time-field">
            Payed on {{orderToDetail.timePayed | date: "MMMM d, YYYY, 'at' h:mm"}}
         </div>
         <div *ngIf="orderToDetail.timeCancelled!=null" class="order-status-time-field">
            Cancelled: {{orderToDetail.timeCancelled | date: "MMMM d, YYYY, 'at' h:mm"}}
         </div>
         <div *ngIf="orderToDetail.timeDelivered!=null" class="order-status-time-field">
            Delivered on {{orderToDetail.timeDelivered | date: "MMMM d, YYYY, 'at' h:mm"}}
         </div>
      </div>
   </div>
</div>