.customer-order{
   border-radius: 10px;
   border-top: 1px solid rgb(209, 233, 223);
   border-right: 1px solid rgb(209, 233, 223);
   border-bottom: 2px solid rgb(127, 169, 120);
   border-left: 2px solid rgb(127, 169, 120);
   background-color: rgb(240, 247, 246);
   margin: 10px;
   .headings-box{
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
      text-align: right;
      font-size: 105%;
      padding-left: 22px;
      padding-top: 12px;
      background-color: rgb(103, 222, 93);
      .headings-box-order-id-tag{
         margin-bottom: 23px;
      }
   }
   .order-info-box{
      padding-right: 12px;
      padding-top: 12px;
      .order-details{
         margin-left: -12px;
         margin-bottom: 19px;
         .order-status{
            .order-status-order-id{
               font-size: 94%;
            }
            .order-status-content{
               padding: 4px;
               font-size: 117%;
               border-radius: 4px;
            }
         }
         .order-value-field{
            text-align: right;
            .order-value-content{
               padding-left: 2px;
               padding-right: 3px;
               border-bottom-color: rgb(183, 183, 183);
               border-bottom-width: 1px;
               border-bottom-style: solid;
               border-top-color: rgb(183, 183, 183);
               border-top-width: 1px;
               border-top-style: solid;
            }
         }
      }
      .order-items{
         margin-top: 4px;
         .order-product-item-content {
            font-family: 'Times New Roman', Times, sans-serif;
            font-size: 110%;
            padding: 2px;
            padding-left: 4px;
            padding-right: 4px;
            background-color: rgb(162, 255, 91);
            border: 2px, solid, rgb(167, 236, 64);
            border-radius: 3px;
            margin-bottom: 8px;
            margin-right: 10px;
            display: inline-block;
         }
         .view-more-order-details-box{
            text-align: right;
         }
      }
   }
}

.order-detail-header{
   background-color: rgb(206, 221, 244);
}
.order-detail-body{
   background-color: rgb(234, 239, 246);
   .order-detail-product-table-row{
      .product-total{
         text-align: right;
      }
      .product-quantity{
         text-align: center;
      }
      .product-individual-price{
         text-align: center;
      }
      :last-child{
         border-left-color: rgb(176, 206, 216);
         border-right-style: solid;
         border-right-width: 1px;
      }
   }
   .order-detail-total-section{
      text-align: right;
      margin-right: 4px;
      .order-detail-total-contents{
         padding-left: 4px;
         padding-right: 3px;
         border-bottom-color: rgb(176, 206, 216);
         border-top-color: rgb(176, 206, 216);
         border-bottom-width: 1px;
         border-top-width: 1px;
         border-bottom-style: solid;
         border-top-style: solid;
      }
   }
   .order-detail-status-section{
      margin-top: 40px;
      .order-detail-status-field{
         padding: 4px;
         border-radius: 5px;
      }
      .order-status-time-field{
         margin-top: 20px;
         margin-left: 5px;
      }
   }
}

.cancelled{
   background-color: rgb(242, 38, 34);
}
.in-transit{
   background-color: rgb(65, 187, 235);
}
.payed{
   background-color: rgb(243, 184, 57);
}
.delivered{
   background-color: rgb(76, 212, 55);
}

.no-gutters {
   margin-right: 0;
   margin-left: 0;
 
   > .col,
   > [class*="col-"] {
     padding-right: 0;
     padding-left: 0;
   }
}

.loader {
   align-self: center;
   margin: 30px;
   border: 4px solid #f3f3f3;
   border-top: 4px solid #3498db;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: spin 1.4s linear infinite;
}
 
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}