<button (click)="onTestButtonClicked()" class="btn btn-success">Test button 1</button>

<button (click)="onOtherTestButtonClicked()" class="btn btn-success">Test button 2</button>

<div class="bg-light rounded p-2 m-3">
   <div class="m-2">
      <strong>Orders view</strong>
   </div>
   <div class="m-3" *ngFor="let order of orders">
      <div>
         Id: {{order.id}}
      </div>
      <div>
         CustomerId: {{order.customerId}}
      </div>
      <div>
         Status: {{order.status}}
      </div>
      <div *ngFor="let product of order.products">
          - {{product.name}}
          <div *ngFor="let supplier of product.suppliers">
            --> {{supplier.name}}
          </div>
      </div>
   </div>
</div>

<div class="bg-light rounded p-2 m-3">
   <div class="m-2">
      <strong>Products view</strong>
   </div>
   <div class="m-3" *ngFor="let product of products">
      <div>
         Id: {{product.name}}
      </div>
      <div *ngFor="let supplier of product.suppliers">
          - {{supplier.name}}
      </div>
      <div *ngFor="let order of product.orders">
          <div>
            - {{order.id}}
          </div>
          <div>
            --> CustomerId: {{order.customerId}}
          </div>
      </div>
   </div>
</div>

<div class="bg-light rounded p-2 m-3">
   <div class="m-2">
      <strong>Suppliers view</strong>
   </div>
   <div class="m-3" *ngFor="let supplier of suppliers">
      <div>
         {{supplier.name}}
      </div>
      <div *ngFor="let product of supplier.products">
          - {{product.name}}
          <div *ngFor="let order of product.orders">
            --> {{order.id}}
            <div>
              --> CustomerId: {{order.customerId}}
            </div>
          </div>
      </div>
   </div>
</div>

<div class="bg-light rounded p-2 m-3">
   <div class="m-2">
      <strong>Customers view</strong>
   </div>
   <div class="m-3" *ngFor="let customer of customers">
      <div>
         {{customer.firstName}} {{customer.lastName}}
      </div>
      <div *ngFor="let order of customer.orders">
          - {{order.id}}
         <div *ngFor="let product of order.products">
            --> {{product.name}}
            <div *ngFor="let supplier of product.suppliers">
               ---> {{supplier.name}}
            </div>
         </div>
      </div>
   </div>
</div>