<div class="container customer-overview-panel p-3" *ngIf="customer != undefined">
   <div class="customer-overview-title">
      <h3>
         Welcome, {{customer.firstName}} {{customer.lastName}}!
      </h3>
   </div>
   <hr>
   <div>
      <button class="btn btn-primary accessibility-button" (click)="onViewOrdersClicked()">View Orders</button>
   </div>
</div>

<div class="customer-overview-panel container" *ngIf="customer == undefined">
   <!-- TODO would be better to do this in a seperate, reusable component -->
   You are not yet logged in!
   <button class="btn btn-sm btn-warning" (click)="onGoToLoginPageClicked()">Go to login page</button>
</div>