<div class="container-fluid table-responsive m-1">
   <table class="table table-striped">
      <thead class="table-dark">
         <tr>
            <th scope="col"></th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Value</th>
            <th scope="col">Customer Id</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let transaction of transactions">
            <td><button (click)="onTransactionRemoveClicked(transaction)" class="btn btn-danger">Remove</button></td>
            <td><input [(ngModel)]="transaction.name"></td>
            <td><input [(ngModel)]="transaction.value"></td>
            <td>{{transaction.customerId}}</td>
            <td><button (click)="onTransactionSaveChangesClicked(transaction)" class="btn btn-success">Save changes</button></td>
         </tr>
      </tbody>
   </table>
</div>

<div class="card m-3 mt-5">
   <div class="card-header">
      <h2 class="text-centre">Add new transaction</h2>
   </div>
   <div class="card-body container my-3 mt-5">
      <form>
         <div class="row g-4">
            <div class="col-12 col-sm-6 col-lg-4 form-floating">
               <input class="form-control" class="form-control" [(ngModel)]="transactionName" name="name" placeholder="name" required minlength="1">
               <label for="name">Product Name</label>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 form-floating">
               <input class="form-control" [(ngModel)]="transactionValueAsString" name="price" placeholder="price" required>
               <label for="name">Amount Bought</label>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 form-floating">
               <input class="form-control" [(ngModel)]="transactionCustomerId" name="stock amount" placeholder="stock amount" required>
               <label for="name">Customer Id</label>
            </div>
         </div>
         <button (click)="onAddTransactionClicked()" class="btn btn-primary btn-lg mt-4" type="submit">Add Transaction</button>
      </form>
   </div>
</div>

<button (click)="deleteTransactionsForUser('665aa04a-3f84-48f0-5308-08dd363d7020')" class="btn btn-success">Delete Gothe's transactions</button>