body {
   background-image: url("../public/assets/tilableGrass2.jpg");
   background-size: auto;
   background-repeat: repeat;
}

.text-centre {
   display: flex;
   justify-content: center;
   align-items: center;
}