body {
   background-image: url("../public/assets/farmlandPhoto.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

.text-centre {
   display: flex;
   justify-content: center;
   align-items: center;
}