body {
   background-image: url("../public/assets/tilableGrass2.jpg");
   background-size: auto;
   background-repeat: repeat;
}

.text-centre {
   display: flex;
   justify-content: center;
   align-items: center;
}

.data-div {
   background-color: white;
   padding: 6px;
   padding-left: 12px;
   margin: 10px;
   border: 2px, solid, goldenrod;
   border-radius: 6px;
}

@media (any-hover: hover) {
   .clickable:hover {
     cursor:pointer;
   }
}